* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 50px;
}

p{
    font-size: 20px;
    margin: 0 50px 30px 50px;
}

.title {
    background: #0096c7;
    padding: 15.43px 0px;
    border-bottom: 4px solid black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

button {
    padding: 20px 35px;
    font-size: 25px;
    border-radius: 20px;
}

.ingresoDeCelulares, .catalogo {
    background: #fee440;
    padding: 218px 0 251px 0;
    border-right: 3px solid black;
}

#botonAgregar, #botonCatalogo{
    border: 3px solid black;
    transition: all .2s;
}

#botonCatalogo{
    margin-bottom: 30px;
}

#botonCatalogo:hover, #botonAgregar:hover {
    background-color: lightblue;
    box-shadow: 10px 10px 10px 3px #111;
}

@media(max-width:768px){
    .container {
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }
    .ingresoDeCelulares, .catalogo {
        background: #fee440;
        padding: 80px 0 86px 0;
        border-right: 3px solid black;
        border-bottom: #111 3px solid;
    }
    button{
        border: 4px solid black;
    }
    p{
        font-size: 30px;
    }
}